@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0.1px dotted gray;
}

@layer base {
  /* changing scroll behaviour and hiding scrollbar when required */
  * {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  dialog:not([open]) {
    display: none;
  }

  /* main animated gradient in background */
  @keyframes hero-gradient-animation {
    0% {
      --x-0: 59%;
      --y-0: 16%;
      --c-0: hsla(289, 100%, 52%, 1);
      --s-start-0: 3%;
      --s-end-0: 22%;
      --x-1: 94%;
      --s-start-1: 10.306152829440899%;
      --s-end-1: 23%;
      --c-1: hsla(236.94117647058823, 100%, 50%, 1);
      --y-1: 5%;
      --x-2: 96%;
      --s-start-2: 0%;
      --s-end-2: 14%;
      --y-2: 92%;
      --c-2: hsla(181.84615384615384, 97%, 61%, 0.75);
      --x-3: 7%;
      --s-start-3: 4.667330066468419%;
      --s-end-3: 36%;
      --y-3: 86%;
      --c-3: hsla(313.4010152284264, 91%, 42%, 1);
      --y-4: 59%;
      --c-4: hsla(243.6144578313253, 83%, 19%, 1);
      --s-start-4: 13%;
      --s-end-4: 68%;
      --x-4: 59%;
    }

    100% {
      --x-0: 94%;
      --y-0: 13%;
      --c-0: hsla(287.21311475409834, 87%, 40%, 1);
      --s-start-0: 3.315649867374005%;
      --s-end-0: 33%;
      --x-1: 65%;
      --s-start-1: 3.315649867374005%;
      --s-end-1: 33%;
      --c-1: hsla(236.66666666666669, 96%, 40%, 1);
      --y-1: 8%;
      --x-2: 21%;
      --s-start-2: 0%;
      --s-end-2: 27.599468484165186%;
      --y-2: 90%;
      --c-2: hsla(183.50364963503654, 62%, 42%, 0.5);
      --x-3: 13%;
      --s-start-3: 12.198718286003295%;
      --s-end-3: 40%;
      --y-3: 19%;
      --c-3: hsla(311.6666666666667, 90%, 31%, 1);
      --y-4: 9%;
      --c-4: hsla(246.82926829268294, 83%, 28%, 1);
      --s-start-4: 13%;
      --s-end-4: 68%;
      --x-4: 2%;
    }
  }

  @property --x-0 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 59%;
  }

  @property --y-0 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 16%;
  }

  @property --c-0 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsla(289, 100%, 52%, 1);
  }

  @property --s-start-0 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 3%;
  }

  @property --s-end-0 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 22%;
  }

  @property --x-1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 94%;
  }

  @property --s-start-1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 10.306152829440899%;
  }

  @property --s-end-1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 23%;
  }

  @property --c-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsla(236.94117647058823, 100%, 50%, 1);
  }

  @property --y-1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 5%;
  }

  @property --x-2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 96%;
  }

  @property --s-start-2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }

  @property --s-end-2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 14%;
  }

  @property --y-2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 92%;
  }

  @property --c-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsla(181.84615384615384, 97%, 61%, 0.75);
  }

  @property --x-3 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 7%;
  }

  @property --s-start-3 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 4.667330066468419%;
  }

  @property --s-end-3 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 36%;
  }

  @property --y-3 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 86%;
  }

  @property --c-3 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsla(313.4010152284264, 91%, 42%, 1);
  }

  @property --y-4 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 59%;
  }

  @property --c-4 {
    syntax: "<color>";
    inherits: false;
    initial-value: hsla(243.6144578313253, 83%, 19%, 1);
  }

  @property --s-start-4 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 13%;
  }

  @property --s-end-4 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 68%;
  }

  @property --x-4 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 59%;
  }

  .heroGradient {
    --x-0: 59%;
    --y-0: 16%;
    --c-0: hsla(289, 100%, 52%, 1);
    --x-1: 94%;
    --c-1: hsla(236.94117647058823, 100%, 50%, 1);
    --y-1: 5%;
    --x-2: 96%;
    --y-2: 92%;
    --c-2: hsla(182, 97%, 61%, 0.749);
    --x-3: 7%;
    --y-3: 86%;
    --c-3: hsla(313.4010152284264, 91%, 42%, 1);
    --y-4: 59%;
    --c-4: hsla(243.6144578313253, 83%, 19%, 1);
    --x-4: 59%;
    background-color: hsla(228, 71%, 4%, 1);
    background-image: radial-gradient(
        circle at var(--x-0) var(--y-0),
        var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)
      ),
      radial-gradient(
        circle at var(--x-1) var(--y-1),
        var(--c-1) var(--s-start-1),
        transparent var(--s-end-1)
      ),
      radial-gradient(
        circle at var(--x-2) var(--y-2),
        var(--c-2) var(--s-start-2),
        transparent var(--s-end-2)
      ),
      radial-gradient(
        circle at var(--x-3) var(--y-3),
        var(--c-3) var(--s-start-3),
        transparent var(--s-end-3)
      ),
      radial-gradient(
        circle at var(--x-4) var(--y-4),
        var(--c-4) var(--s-start-4),
        transparent var(--s-end-4)
      );
    /* animation: hero-gradient-animation 55s linear infinite alternate; */
    background-blend-mode: hard-light, hard-light, hard-light, hard-light,
      hard-light;
  }
}

/* glassmorphism design style */
@layer components {
  .toastGradient {
    background: #080335; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #fcc2eb,
      #ec38bc,
      #7303c0,
      #03001e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #fcc2eb,
      #ec38bc,
      #7303c0,
      #03001e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .toastGradientError {
    background: #833ab4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #e3d5ec,
      #fd1d1d,
      #fcb045a2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #e3d5ec,
      #fd1d1d,
      #fcb045a2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .glass {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .glass-dark {
    backdrop-filter: blur(4px) saturate(220%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.85);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-500px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .slideIn {
    animation: slideDown 1s ease-in;
  }

  .btn-bubbles {
    overflow: visible;
    transition: transform ease-in 0.1s, background-color ease-in 0.1s,
      box-shadow ease-in 0.25s;
  }

  .btn-bubbles::before {
    position: absolute;
    content: "";
    left: -2em;
    right: -2em;
    top: -2em;
    bottom: -2em;
    transition: ease-in-out 0.5s;
    background-repeat: no-repeat;
    background-image: radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        hsl(190, 100%, 50%) 20%,
        transparent 30%
      ),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%),
      radial-gradient(circle, hsl(190, 100%, 50%) 20%, transparent 20%);
    background-size: 10% 18%, 19% 12%, 15% 18%, 15% 12%, 20% 12%, 15% 16%,
      10% 10%, 11% 10%, 18% 20%, 20% 10%, 20% 18%, 17% 19%, 11% 12%, 19% 12%,
      19% 10%, 19% 20%;
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
      65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
      64% 70%, 80% 71%;
    animation: bubbles ease-in-out 0.75s forwards;
  }

  .btn-bubbles:active {
    transform: scale(0.95);
    background: hsl(190, 100%, 45%);
  }

  .btn-bubbles:active::before {
    animation: none;
    background-size: 0;
  }

  @keyframes bubbles {
    0% {
      background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
        65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
        64% 70%, 80% 71%;
    }
    50% {
      background-position: 10% 44%, 0% 20%, 15% 5%, 30% 0%, 42% 0%, 62% -2%,
        75% 0%, 95% -2%, 0% 80%, 95% 55%, 7% 100%, 24% 100%, 41% 100%, 55% 95%,
        68% 96%, 95% 100%;
    }
    100% {
      background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%,
        80% 0%, 100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%,
        60% 95%, 70% 96%, 100% 100%;
      background-size: 0% 0%;
    }
  }
}
